{% assign terms = site.data[include.collection] %}
{% capture termkeycoll %}{{ include.collection }}_keys{% endcapture %}
{% assign termkeys = site.data[termkeycoll] %}

<h2>Table of Contents</h2>
<ul class="toc">
{% for key in termkeys %}
  {% capture slug %}{{ key | slugify }}{% endcapture %}
  <li><a href="#{{ slug }}">{{ key }}</a> 
  ({{ terms[key] | size }})</li>
{% endfor %}  
</ul>

{% for key in termkeys %}
  {% capture slug %}{{ key | slugify }}{% endcapture %}
  <h2 id="{{ slug }}">{{ key }}<h2>
  <ul class="docs">
    {% assign docs = terms[key] | sort: 'pdfname' %}
    {% for doc in docs %}
      {% include document.html doc=doc %}
    {% endfor %}
  </ul>
{% endfor %}
