ul.docs {
  list-style-type: none;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  margin-top: 0;
}

ul.docs li img {
  float: left;
  margin: 0 15px 0 0;
}

ul.docs li p {
  font: 200 16px/1.5 Georgia, Times New Roman, serif;
}

ul.docs li p.date {
  font: 200 16px/1.5 Georgia, Times New Roman, serif;
  font-weight: bold;
}

ul.docs li {
  padding: 10px;
  overflow: auto;
  margin-bottom: 20px;
}

ul.docs li:hover {
  background: #eee;
  cursor: pointer;
}
